name: Deploy Vite site to GitHub Pages

on:
  push:
    branches:
      - ana

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Repo'yu çek
        uses: actions/checkout@v4

      - name: Node.js kur
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Paketleri yükle
        run: npm install

      - name: Build al
        run: npm run build

      - name: Build çıktısını yükle
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages'e deploy et
        id: deployment
        uses: actions/deploy-pages@v4
